

.container{

display: flex;
justify-content: center;
}
.upload-section{
display: flex;
gap: 4rem;
}
.intial-page-heading{
    text-align: center;
}
.input-file{
    display: flex;
    padding: 1rem 2rem;
}
.file-container{
    border: 2px solid black;
    margin:0px 2rem;
    padding: 0px 2rem;
}
.process-summary{
    text-align: center;
}
span{
    text-align: center;
    font-size: 2rem;
}
.label-selected-image{
    font-size: 0.7rem;
}
.label-annotated-image{
    font-size: 0.7rem;
}
.line{
    margin-top: 10px;
    border-bottom: 4px solid black;
}
li{
    color: black;
}

